body {
  overflow: hidden;
  font-family: "Arimo" !important;
}
#User {
  background-image: url(./images/Component\ 3\ –\ 1.png);
  background-repeat: no-repeat;
  background-size: 80% 87%;
  padding-top: 30px;
  padding-left: 200px;
}

@media screen and (max-width: 600px) {
  #User {
    background-image: none;
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
  }
  #login .img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #User .dots {
    display: none;
  }
  #login {
    display: none;
  }
}
.dots {
  position: relative;
  bottom: 720px;
  left: 440px;
}
.chat_icon {
  position: relative;
  bottom: 100px;
  left: 740px;
}
.card {
  margin-right: 400px;
}
@media screen and (max-width: 600px) {
  .card {
    margin-right: 0px;
  }
  .chat_icon {
    display: none;
    position: relative;
    bottom: 100px;
    left: 740px;
  }
}